<a href="https://colab.research.google.com/github/Girish209/Girish_51_AIML/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("%10.3e"%(356.08977))

 3.561e+02

In [6]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
sum=0
for i in range(n):
  arr[i]=int(input())
  sum=sum+arr[i]
print('Array Elements :', arr)
print(sum)

Enter Size:3
Enter 3 element :
1
2
3
Array Elements : [1 2 3]
6

In [16]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
def oddcount(a,o):
  if a%2!=0:
    o+=1
  return o
def evencount(a,e):
  if a%2==0:
    e+=1
  return e
o=0
e=0
for i in range(n):
  arr[i]=int(input())
  o=oddcount(arr[i],o)
  e=evencount(arr[i],e)
print('Array Elements :', arr)
print("The odd elements are:",o)
print("The even elements are:",e)

Enter Size:5
Enter 5 element :
1
2
4
5
6
Array Elements : [1 2 4 5 6]
The odd elements are: 2
The even elements are: 3

In [5]:
import numpy
m = int (input('Enter Row Size:'))
n = int (input('Enter Column Size:'))
arr = numpy.ndarray(shape=(m,n),dtype=int)
print('Size :', arr.size)
print('Shape :', arr.shape)
print('Dimension :', arr.ndim)

Enter Row Size:3
Enter Column Size:3
Size : 9
Shape : (3, 3)
Dimension : 2

In [22]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
# No Row and Column Size.
print('Slicing...... .....')
res=arr[:,:]
print(res)
res2=arr[0:2,0:3]
print(res2)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[10 20 30]
 [40 50 60]
 [70 80 90]]
[[10 20 30]
 [40 50 60]]

In [23]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
# No Row and Column Size.
print('Slicing...... .....')
res=arr[0:3,1:3]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[20 30]
 [50 60]
 [80 90]]

In [24]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
# No Row and Column Size.
print('Slicing...... .....')
res=arr[1:3,1:3]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[50 60]
 [80 90]]

In [26]:
str1 = "Hello Girish" 
slic = slice(0,10,3) # returns slice object 
slic2 = slice(-1,0,-3) # returns slice object 
# We can use this slice object to get elements 
str2 = str1[slic] 
str3 = str1[slic2] # returns elements in reverse order 
# Displaying result 
print(str2) 
print(str3)

HlGi
hr l

In [29]:
x = "Girish at work"
print(x[0:6])

Girish

In [34]:
str="ABIT is an engineering college"
str1=slice(0,27,3)
str2=str[str1]
print(str[0:27:5])
print(str2)

Ai nnl
ATsnnnrgo

In [40]:
import pandas as pd 
info = ['Rollno','Name','Age','Semester','Height','Weight']
df=pd.DataFrame(info)
print(df)
print("...")
df

          0
0    Rollno
1      Name
2       Age
3  Semester
4    Height
5    Weight
...

          0
0    Rollno
1      Name
2       Age
3  Semester
4    Height
5    Weight