<a href="https://colab.research.google.com/github/Girish209/Girish_51_AIML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
list=[1,2,3,4,5,6,7,8,9,10]
n=int(input("Enter a number.."))
for i in list:
  c=n*i
  print(c)

Enter a number..10
10
20
30
40
50
60
70
80
90
100

In [16]:
list=[12,24,34,45,56,67,78,89,90]
s=0
for i in list:
  s=s+i
print("The result is:",s)

The result is: 495

In [19]:
#using range function in for loop
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [26]:
n=int(input("Enter a number.."))
for i in range(1,11):
  c=n*i
  print(n,"*",i,"=",c)

Enter a number..2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [29]:
n=int(input("Enter the number..."))
sum=0
for i in range(2,n,2):
  sum=sum+i
print("The sum is:",sum)

Enter the number...10
The sum is: 20

In [33]:
list=['Peter','Laxmi','Sai']
for i in range(len(list)):
   print("Hello",list[i])

Hello Peter
Hello Laxmi
Hello Sai

In [46]:
#Nested Loop
r=int(input("Enter the number of rows..."))
for i in range(0,r+1):
  for j in range (0,i):
    print("*",end=' ')
  print()

Enter the number of rows...5

*
* *
* * *
* * * *
* * * * *

In [47]:
r=int(input("Enter the number of rows..."))
for i in range(0,r+1):
  for j in range (0,i):
    print(i,end=' ')
  print()

Enter the number of rows...5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [49]:
s=0
i=1
while i<=10:
  s=s+i
  i=i+1
print("Sum from 1 to 10:",s)

Sum from 1 to 10: 55

In [53]:
n=int(input("Enter the number:"))
r=0
while n>0:
  d=int(n%10)
  r=r*10+d
  n=int(n/10)
print("The reverse of the number is:",r)

Enter the number:123
The reverse of the number is: 321